.display-image {
height: 14em;
box-shadow: -25px -25px 0px 0px rgb(228, 10, 156);
cursor: pointer;
margin-bottom: 2em;
}

.project-page-wrapper {
  height: 100vh;
}

.display-image:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.project-content-wrapper {
margin-left: 3em;
display: flex;
justify-content: space-around;
align-items: center;
}

.project-header {
  text-align: center;
  color: rgb(228, 10, 156)
}

.app-name {
margin-bottom: 2em;
color: rgb(228, 10, 156)
}

.dark .display-image {
box-shadow: -25px -25px 0px 0px rgb(247, 125, 206);
}

.modal-button {
  border: none;
  background-color: rgb(228, 10, 156);
  color: white;
  padding: .25em .55em;
  border-radius: 3px;
}

.dark .app-name, .dark .project-header {
color: rgb(247, 125, 206);
}

.modal-slides {
  height: 25em;
  margin-bottom: 1em;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.game, .critter, .bootleg, .tac {
  text-decoration: none;
  color:white;
  background-color: rgb(228, 10, 156);
  font-size: .85em;
  padding: .25em;
  border-radius: 3px;
  cursor: pointer;
}

.project-right, .project-left {
  margin-bottom: 1.5em;
}

@media (max-width: 768px) {
  .project-content-wrapper {
    margin-left: 0;
  }
  .display-image {
    height: 6em;
    box-shadow: -10px -10px 0px 0px rgb(228, 10, 156)
  }
  .project-header,
  .app-name {
    text-align: center;
  }
  .modal-button {
    font-size: 0.75em;
  }
  .modal-slides {
    height: 10em;
  }
  .navigation-links {
    flex-direction: column;
    align-items: center;
  }
  .dark .display-image {
    box-shadow: -10px -10px 0px 0px rgb(247, 125, 206);
    }
}


@media (max-width: 1440px) {
  .project-page-wrapper {
    height: 75vh;
  } 
  .display-image {
    height: 10em;
    margin-bottom: 1em;
    box-shadow: -15px -15px 0px 0px rgb(228, 10, 156)
  }
  .app-name {
    margin: 1em 0em 1.25em 0em;
  }
  .project-left, .project-right {
    margin-bottom: 1em;
  }
}