.title-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  border-radius: 100%;
  height:20em;
  margin-right: 3em;
}

.welcome {
  color: pink;
  font-family: cursive;
  margin-right: .25em;
}

.text-section {
  width: 50%;
}

.animate-character {
  font-size: 2.75em;
  font-family:cursive;
  --bg-size: 400%;
  --color-one: #E56AB3;
  --color-two: #EF87BE;
  --color-three: #F9A3CB;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .animate-character {
    animation: move-bg 30s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.dark .text-section {
  color: white;
}