.home-title-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin: 0;
}

.home-page-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.home-image {
  border-radius: 100%;
  height: 20em;
  margin-right: 3em;
}

.home-welcome {
  color: rgb(228, 10, 156);
  font-family: cursive;
  margin: 0 0.25em;
}

.animate-character {
  margin-left: 10em;
  font-size: 2.75em;
  font-family: cursive;
  --bg-size: 400%;
  --color-one: rgb(228, 10, 156);
  --color-two: rgb(247, 125, 206);
  --color-three: #fb9ec9;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  margin: 0;
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
  .animate-character {
    animation: move-bg 22s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.landing-wrapper {
  height: 100vh;
  display: flex;
  margin-top: 22em;
}

.landing-image {
  height: 60%;
  transform: rotate(270deg);
}

.dark .home-text-section,
.dark .home-welcome {
  color: rgb(247, 125, 206);
}
