body {
  background-image: linear-gradient(
    to bottom,
    rgba(250, 228, 244, 0.417),
    rgba(248, 114, 233, 0.533)
  ), url("../../Assets/photos/199310.jpg");
  background-size: stretch;
  background-repeat: no-repeat;
  height: 100vh;
}

body.dark {
  background-color: black;
  background-image: linear-gradient(
    to bottom,
    rgba(96, 3, 74, 0.704),
    rgba(15, 0, 13, 0.562)
  ), url("../../Assets/photos/darkmode.jpg");
  background-size: stretch;
  background-repeat: no-repeat;
  height: 100vh;
}

.page-wrapper {
  backdrop-filter: blur(4px);
  height: 100vh;
}
