.icons {
  height: 3em;
  border-radius: 50%;
}

.icon-anchor {
  margin: .5em .75em;
  max-width: 3em;
}

.contact-wrapper {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  left: 50%;
  right:50%;
}

.contact-header {
  color: rgb(228, 10, 156);
  font-style: italic;
  font-size: 1em;
  width: max-content;
  margin: 2em 0em 0em 0em
}

.icons:hover {
  box-shadow: 0 0 15px 7px  rgb(255, 149, 216);
}


.icon-wrapper {
  display: flex;
  flex-direction: row;
}

.icon-wrapper path {
  fill: rgb(228, 10, 156);
}

.dark .contact-header {
  color: rgb(247, 125, 206);
}

.dark .icon-wrapper path  {
  fill:rgb(247, 125, 206);
}

.dark .icons:hover {
  box-shadow: 0 0 15px 7px  rgba(255, 32, 173, 0.666);
}