.icons {
  height: 3em;
  border-radius: 50%;
}

.icon-anchor {
  margin: .5em .75em;
  max-width: 3em;
}

.contact-text-wrapper {
  font-size: .7em;
}

.contact-wrapper {
  display: flex;
  align-items:center;
  justify-content: center;
  position:absolute;
  bottom: 25px;
  left: 50%;
  right:50%;
}

.contact-header {
  margin-left: 1em;
  color: rgb(247, 125, 206);
  font-style: italic;
  width: max-content;
}

.icons:hover {
  box-shadow: 0 0 15px 7px  rgb(255, 149, 216);
}

.position-wrapper {
  position: relative;
  top: 100px;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
}

.icon-wrapper path {
  fill:rgb(247, 125, 206);
}

.dark .icon-wrapper path  {
  fill:rgb(247, 125, 206);
}

.dark .icons:hover {
  box-shadow: 0 0 15px 7px  rgba(255, 32, 173, 0.666);
}